.product span {
    font-size: 100px;
}

.wrapper {
    padding: 20px;
    font-size: 20px;
}

.wrapper button {
    font-size: 20px;
    background-color: green;
    padding: 5px;
    border: 2px solid red;
}